.Card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 300px;
    height: 490px;

    margin: 0.5rem;

    background-color: var(--deck-background-color);

    border-radius: 25px;
    color: var(--deck-text-color);

    overflow: scroll;
}

.Card { /*hide scrollbar for firefox*/
    scrollbar-width: none;
}
  
.Card::-webkit-scrollbar { /*hide scrollbar for safari*/
display: none;
}


.Card h1{
    text-align: center;

    font-weight: 400;
    font-size: 100%;
    margin: 1rem;
}

.Card p{
    font-weight: 300;
    font-size: 110%;
    margin: 3rem;
}
