.DeckPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_container{
    padding-left: 3rem;
    padding-right: 3rem;
}

.header{
    text-align: center;
    font-size: 3rem;
}